[Unit]
Description=Music Release Generator Service
After=network.target

[Service]
Type=simple
User=white_elephant
WorkingDirectory=/srv/music/repo
ExecStart=/usr/bin/python3 /srv/music/repo/release/create_release.py --mode server
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
